@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    background-color: #F8F8FF;

}

.container{
        
    padding: 1.5%;
    margin: 0 auto;
    background-color: #006400;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.imglogo{
 width: 50px;
 margin-left: 50px;
}

nav ul{
    
    list-style: none;
}

nav ul li{
    
    display: inline-block;
}


nav ul li a{
    /*padding: 10px 30px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;*/
    position: relative;
    display: block;
    text-align: center;
    margin: 0 25px;
    color: white;
    font-size: 19px;
    font-family: 'Belanosima';
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    padding: 5px 10px;
}

nav ul li a:hover{
    color: white;
    background: #D2691E;
}

nav ul li a:before{
    content:'';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #D2691E;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

nav ul li a:hover:before{
    bottom: -12px;
    left: -12px;
    opacity: 1;
}

ul li a:after{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #D2691E;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;
}

ul li a:hover:after{
    top: -12px;
    right: -12px;
    opacity: 1;
}

div.welcome {
    display: flex;
    align-items: stretch;
    position: relative;
  }
  
  div.welcome > img {
    flex: 1;
    width: 50%;
    filter: blur(5px) brightness(0.6);
    transition: filter 0.5s;
    
  }
  
  


  #title-nordeste{
    position: absolute;
    display: flex;
    left: 25%;
    top: 50%;
    font-family: '';
    font-size: 50px;
}
#link-nordeste{
    position: absolute;
    display: flex;
    left: 30%;
    top: 50%;
    font-family: '';
    font-size: 50px;
}
#title-norte{
    position: absolute;
    display: flex;
    left: 75%;
    top: 50%;
    font-family: '';
    font-size: 50px;
}
  
  div.welcome > .title-overlay {
    position: absolute;
    
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    opacity: 1 ;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  
